<!DOCTYPE html>
<html>
<head>
  <title>Adword</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div>
    <% if current_user %>
    Signed in as <strong><%= current_user.email %></strong>!<br>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <%#= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
    <%#= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <%#= link_to "Create an account", "/auth/identity/register" %>
    <%#= link_to "login", "/auth/identity" %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </div>
  <%= yield %>

</body>
</html>
